@model List<CarBook.EntityLayer.Concrete.HowItWorksStep>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div style="height: 550px; overflow-x: hidden; overflow-y: scroll;">

	<table class="table table-bordered">
		<tr>
			<th>#</th>
			<th>Açıklama</th>
			<th>Sil</th>
			<th>Güncelle</th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.HowItWorksStepID</td>
				<td>@item.Description</td>
				<td><a href="/HowItWorksStep/DeleteHowItWorksStep/@item.HowItWorksStepID" class="btn btn-outline-danger">Sil</a></td>
				<td><a href="/HowItWorksStep/UpdateHowItWorksStep/@item.HowItWorksStepID" class="btn btn-outline-success">Güncelle</a></td>
			</tr>
		}
	</table>
</div>
<br />
<a href="/HowItWorksStep/AddHowItWorksStep/" class="btn btn-outline-primary">Yeni Kiralama Adımı Ekle</a>
