@model List<Service>
<div class="site-section">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 mb-4 mb-lg-5">
                    <div class="service-1 dark">
                        <span class="service-1-icon">
                            <span class="@item.Icon"></span>
                        </span>
                        <div class="service-1-contents">
                            <h3>@item.Title</h3>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
