@model List<CarBook.EntityLayer.Concrete.CarDetail>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div style="height: 550px; overflow-x: hidden; overflow-y: scroll;">

	<table class="table table-bordered">
		<tr>
			<th>#</th>
			<th>Yazar</th>
			<th>Açıklama</th>
			<th>Sil</th>
			<th>Güncelle</th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.CarDetailID</td>
				<td>@item.AppUserID</td>
				<td>@item.Description</td>
				<td><a href="/CarDetail/DeleteCarDetail/@item.CarDetailID" class="btn btn-outline-danger">Sil</a></td>
				<td><a href="/CarDetail/UpdateCarDetail/@item.CarDetailID" class="btn btn-outline-success">Güncelle</a></td>
			</tr>
		}
	</table>
</div>
<br />
<a href="/CarDetail/AddCarDetail/" class="btn btn-outline-primary">Yeni Araba Detayı Ekle</a>

