@model CarBook.EntityLayer.Concrete.CarStatus
@{
    ViewData["Title"] = "UpdateCarStatus";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>UpdateCarStatus</h1>

<form method="post">
    <input type="hidden" asp-for="CarStatusID" />
    <br />
    <label>Araba Durumu</label>
    <input type="text" asp-for="CarStatusName" class="form-control" style="border:1px solid #222" />
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>