@model CarDetail
<div class="sidebar-box">
    <img src="@Model.AppUser.ImageURL" alt="Free Website Template by Free-Template.co" class="img-fluid mb-4 w-50 rounded-circle">
    <h3 class="text-black">@Model.AppUser.Name</h3>
    <p>@Model.AppUser.Description</p>
    <p><a href="/Car/CarList/" class="btn btn-primary btn-md text-white">Araç Listesi</a></p>
</div>