
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@await Component.InvokeAsync("_HeadUILayoutComponentPartial")



<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <div class="site-wrap" id="home-section">

        @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")

        @RenderBody()

        @await Component.InvokeAsync("_FooterUILayoutComponentPartial")

    </div>

    @await Component.InvokeAsync("_ScriptsUILayoutComponentPartial")

</body>

</html>
