@model Company
<div class="site-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
				<img src="@Model.ImageURL" alt="Image" class="img-fluid">
			</div>
			<div class="col-lg-4 mr-auto">
				<h2>@Model.Title</h2>
				<p>@Model.Description1</p>
				<p>@Model.Description2</p>
			</div>
		</div>
	</div>
</div>