@model Contact
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/UILayout/Index.cshtml";
}

@await Component.InvokeAsync("_FeatureUIContactComponentPartial")

<div class="site-section bg-light" id="contact-section">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-7 text-center mb-5">
				<h2>Bize Ulaşın Veya Araç Kiralamak İçin Bu Formu Kullanın</h2>
			</div>
		</div>
		<div class="row">

			
			<div class="col-lg-8 mb-5">
				<form method="post">
					<div class="form-group row">
						<div class="col-md-6 mb-4 mb-lg-0">
							<input type="text" class="form-control" asp-for="NameSurname" placeholder="Ad Soyad">
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" asp-for="Subject" placeholder="Konu">
						</div>
					</div>

					<div class="form-group row">
						<div class="col-md-12">
							<input type="text" class="form-control" asp-for="Email" placeholder="Email adresiniz">
						</div>
					</div>

					<div class="form-group row">
						<div class="col-md-12">
							<textarea name="Message" id="" class="form-control" asp-for="Message" placeholder="Mesajınızı yazın" cols="30" rows="10"></textarea>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-12 mr-auto">
							<input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Gönder">
						</div>
					</div>
				</form>
			</div>

			@await Component.InvokeAsync("_ComtactInfoUIContactComponentPartial")

		</div>
	</div>
</div>
