
@{
    ViewData["Title"] = "CarDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}
@await Component.InvokeAsync("_FeatureUICarComponentPartial")
<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 blog-content">
            <p class="lead">@ViewBag.desc</p>
           
            <div class="pt-5">
              
                    @await Component.InvokeAsync("_CarDetailCommentCmponentsPartial",new {id=ViewBag.i})

                    @await Component.InvokeAsync("_CarDetailLeaveACommentComponentPartial")
            </div>

          </div>
          <div class="col-md-4 sidebar">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon fa fa-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>

                @await Component.InvokeAsync("_CarDetailCategoryComponentPartial")

                @await Component.InvokeAsync("_CarDetailAboutAuthorComponentsPartial",new {id=ViewBag.i})

            

            <div class="sidebar-box">
              <h3 class="text-black">Paragraph</h3>
              <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

