@model List<CarBook.EntityLayer.Concrete.Contact>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div style="height: 550px; overflow-x: hidden; overflow-y: scroll;">

	<table class="table table-bordered">
		<tr>
			<th>#</th>
			<th>Ad Soyad</th>
			<th>Konu</th>
			<th>Mesaj</th>
			<th>Sil</th>
			<th>Güncelle</th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.ContactID</td>
				<td>@item.NameSurname</td>
				<td>@item.Subject</td>
				<td>@item.Message</td>
				<td><a href="/Contact/DeleteContact/@item.ContactID" class="btn btn-outline-danger">Sil</a></td>
				<td><a href="/Contact/DeleteContact/@item.ContactID" class="btn btn-outline-success">Güncelle</a></td>
			</tr>
		}
	</table>
</div>

